.git
AFFiNE
cef_user_data
ChiTuBox
Code - OSS
configstore
Electron
fontconfig
JetBrains
gtk.-3.0
jgit
kwalletrc
mimeapps.list
QtProject.conf
Thunar
user-dirs*
evolution
.gsd*
pulse
Trolltech.conf
yay
draw.io
xfce4/xfconf/xfce-perchannel-xml/thunar.xml
