.git
AFFiNE
cef_user_data
ChiTuBox
Code - OSS
configstore
dconf
Electron
fontconfig
JetBrains
gtk.-3.0
jgit
kwalletrc
mimeapps.list
QtProject.conf
Thunar
Trolltech.conf
xfce4/
yay
draw.io
xfce4/xfconf/xfce-perchannel-xml/thunar.xml
